/*! management.css | 后台管理主样式表 | 这里存放后台管理系统主样式信息(布局样式不包括在内) */

/* 内容列表  ======================================================= */
    
    

/* ========================================================================== */

.l-user-avatar{
	display: block;
    float: left;
    margin: 7px 7px 0 0;
}

.l-label{
	font-family: Droid Sans;
    color: #8f8f8f;
    font-size: 13px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.l-contents-wrapper{
	padding-top: 10px;
    position: relative;
    right: -1px;
}

.l-sidebar{
	position: absolute;
    left: -1px;
    top: auto;
    width: 143px;
    /* width: 14.201%; */
}
.l-tab-nav{
	padding: 5px 0 5px 5px;
    margin: -5px -1px 0 -5px;
    overflow: hidden;
}
.l-tab-nav>li{
	width: 144px;
    padding-left: 1px;
    background-position: 10px 29px;
}
.l-tab-nav>li.l-active-tab{
	padding-left: 0;
    background-color: #f9f9f9;
    border-radius: 3px 0 0 3px;
    border: 1px solid #dadada;
    border-right-color: #f7f7f7;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}
.l-first-page{
	background: url("../images/Icons/32/i_32_dashboard.png") no-repeat scroll transparent;
}
.l-delivery{
	background: url("../images/Icons/32/i_32_inbox.png") no-repeat scroll transparent;
}
.l-transport{
	background: url("../images/Icons/32/i_32_tables.png") no-repeat scroll transparent;
}
.l-data-management{
	background: url("../images/Icons/32/i_32_charts.png") no-repeat scroll transparent;
}
.l-client-management{
	background: url("../images/Icons/32/i_32_forms.png") no-repeat scroll transparent;
}
.l-user-management{
	background: url("../images/Icons/32/i_32_ui.png") no-repeat scroll transparent;
}

.l-tab-nav>li>a{
	width: 100%;
    height: 86px;
    display: block;
    text-decoration: none;
    outline: none;
}
.l-tab-label{
	display: block;
    /* height: 20px; */
    line-height: 20px;
    padding-left: 50px;
    padding-top: 26px;

    font-family: Oswald;
	color: #9D9D9D;
	font-size: 18px;
	text-shadow: 0 1px 0 #FFFFFF;
}

.l-tab-info{
	display: block;
    height: 20px;
    line-height: 20px;
    padding-left: 50px;

    font-family: Droid Sans;
    color: #A6A6A6;
    font-size: 12px;
    text-shadow: 0 1px 0 #FFFFFF;
}

.l-contents{
	float: right;
    width: 874px;
	/* width: 85.798%; */
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 0 3px 3px 0;
    border: 1px solid #dadada;
}

.l-grid-wrap{
	overflow: hidden;
    padding: 10px;
    width: auto;
    height: auto;
    min-height: 896px;
}

